.vs/
*/.vs/
*/*/.vs/
*/bin/
*/*/bin/
*/*/*/bin/
*/*/*/*/bin/
*/*/*/*/*/bin/
*/*/*/*/*/*/bin/
*/obj/
*/*/obj/
*/*/*/obj/
*/*/*/*/obj/
*/*/*/*/*/obj/
*/*/*/*/*/*/obj/
packages/
*/packages/
*/*/packages/
*/*/*/packages/
*.vspx
*.psess
*.suo
*.DotSettings.user
*.pubxml
*.pubxml.user
